.fs10 {
  font-size: 10px;
}

.fs11 {
  font-size: 11px;
}

.fs12 {
  font-size: 12px;
}

.fs13 {
  font-size: 13px;
}

.fs14 {
  font-size: 14px;
}

.fs15 {
  font-size: 15px;
}

.fs16 {
  font-size: 16px;
  letter-spacing: 1px;
}

.fs18 {
  font-size: 18px;
}

.fs20 {
  font-size: 20px;
}

.fs22 {
  font-size: 22px;
}

.fs24 {
  font-size: 24px;
}

.fs36 {
  font-size: 36px;
}

.fs48 {
  font-size: 48px;
  letter-spacing: 2px;
}

.fsp50 {
  font-size: 50%;
}

.fsp60 {
  font-size: 60%;
}

.fsp70 {
  font-size: 70%;
}

.fsp80 {
  font-size: 80%;
}

.fsp90 {
  font-size: 90%;
}

.fsp100 {
  font-size: 100%;
}

.fsp110 {
  font-size: 110%;
}

.fsp115 {
  font-size: 115%;
}

.fsp120 {
  font-size: 120%;
}

.fsp125 {
  font-size: 125%;
}

.fsp130 {
  font-size: 130%;
}

.fsp135 {
  font-size: 135%;
}

.fsp140 {
  font-size: 140%;
}

.fsp145 {
  font-size: 145%;
}

.fsp150 {
  font-size: 150%;
}

.fsp155 {
  font-size: 155%;
}

.fsp160 {
  font-size: 160%;
}

.fsp165 {
  font-size: 165%;
}

.fsp170 {
  font-size: 170%;
}

.fsp175 {
  font-size: 175%;
}

.fsp180 {
  font-size: 180%;
}

.fsp185 {
  font-size: 185%;
}

.fsp190 {
  font-size: 190%;
}

.fsp195 {
  font-size: 195%;
}

.fsp200 {
  font-size: 200%;
}

.space0 {
  letter-spacing: 0;
}

.space1 {
  letter-spacing: 1px;
}

.space2 {
  letter-spacing: 2px;
}

.space3 {
  letter-spacing: 3px;
}

.space-1 {
  letter-spacing: -1px;
}

.space-2 {
  letter-spacing: -2px;
}

.space-3 {
  letter-spacing: -3px;
}

.lh0 {
  line-height: 100%;
}

.lh10 {
  line-height: 10px;
}

.lh12 {
  line-height: 12px;
}

.lh15 {
  line-height: 15px;
}

.lh18 {
  line-height: 18px;
}

.lh20 {
  line-height: 20px;
}

.lh22 {
  line-height: 22px;
}

.lh25 {
  line-height: 25px;
}

.lh30 {
  line-height: 30px;
}

.lh40 {
  line-height: 40px;
}

.lh50 {
  line-height: 50px;
}

.lh100 {
  line-height: 100px;
}

.lhp100 {
  line-height: 100%;
}

.lhp110 {
  line-height: 110%;
}

.lhp120 {
  line-height: 120%;
}

.lhp130 {
  line-height: 130%;
}

.lhp140 {
  line-height: 140%;
}

.lhp150 {
  line-height: 150%;
}

.lhp200 {
  line-height: 200%;
}

.lhp250 {
  line-height: 250%;
}

.alpha90 {
  filter: alpha(opacity=90);
  opacity: .9;
}

.alpha80 {
  filter: alpha(opacity=80);
  opacity: .8;
}

.alpha70 {
  filter: alpha(opacity=70);
  opacity: .7;
}

.alpha60 {
  filter: alpha(opacity=60);
  opacity: .6;
}

.alpha50 {
  filter: alpha(opacity=50);
  opacity: .5;
}

.alpha40 {
  filter: alpha(opacity=40);
  opacity: .4;
}

.alpha30 {
  filter: alpha(opacity=30);
  opacity: .3;
}

.alpha20 {
  filter: alpha(opacity=20);
  opacity: .2;
}

.alpha10 {
  filter: alpha(opacity=10);
  opacity: .1;
}

.alpha0 {
  filter: alpha(opacity=0);
  opacity: 0;
}

.wp100 {
  width: 100%;
}

.wp99 {
  width: 99%;
}

.wp90 {
  width: 90%;
}

.wp85 {
  width: 85%;
}

.wp80 {
  width: 80%;
}

.wp75 {
  width: 75%;
}

.wp70 {
  width: 70%;
}

.wp65 {
  width: 65%;
}

.wp60 {
  width: 60%;
}

.wp55 {
  width: 55%;
}

.wp45 {
  width: 45%;
}

.wp40 {
  width: 40%;
}

.wp35 {
  width: 35%;
}

.wp30 {
  width: 30%;
}

.wp25 {
  width: 25%;
}

.wp20 {
  width: 20%;
}

.wp15 {
  width: 15%;
}

.wp5 {
  width: 5%;
}

.wp50 {
  width: 50%;
}

.wp48 {
  width: 48%;
}

.wp10 {
  width: 10%;
}

.w20 {
  width: 20px;
}

.w30 {
  width: 30px;
}

.w40 {
  width: 40px;
}

.w50 {
  width: 50px;
}

.w60 {
  width: 60px;
}

.w70 {
  width: 70px;
}

.w80 {
  width: 80px;
}

.w90 {
  width: 90px;
}

.w100 {
  width: 100px;
}

.w120 {
  width: 120px;
}

.w150 {
  width: 150px;
}

.w180 {
  width: 180px;
}

.w200 {
  width: 200px;
}

.w300 {
  width: 300px;
}

.w400 {
  width: 400px;
}

.w500 {
  width: 500px;
}

.w600 {
  width: 600px;
}

.w700 {
  width: 700px;
}

.w800 {
  width: 800px;
}

.wh15 {
  width: 15px;
  height: 15px;
}

.wh16 {
  width: 16px;
  height: 16px;
}

.wh18 {
  width: 18px;
  height: 18px;
}

.wh20 {
  width: 20px;
  height: 20px;
}

.wh22 {
  width: 22px;
  height: 22px;
}

.wh25 {
  width: 25px;
  height: 25px;
}

.wh30 {
  width: 30px;
  height: 30px;
}

.wh50 {
  width: 50px;
  height: 50px;
}

.hp100 {
  height: 100%;
}

.hp90 {
  height: 90%;
}

.hp80 {
  height: 80%;
}

.hp70 {
  height: 70%;
}

.hp60 {
  height: 60%;
}

.hp50 {
  height: 50%;
}

.hp40 {
  height: 40%;
}

.hp30 {
  height: 30%;
}

.hp20 {
  height: 20%;
}

.hp10 {
  height: 10%;
}

.h5 {
  height: 5px;
}

.h10 {
  height: 10px;
}

.h15 {
  height: 15px;
}

.h20 {
  height: 20px;
}

.h25 {
  height: 25px;
}

.h30 {
  height: 30px;
}

.h40 {
  height: 40px;
}

.h50 {
  height: 50px;
}

.h60 {
  height: 60px;
}

.h80 {
  height: 80px;
}

.h90 {
  height: 90px;
}

.h100 {
  height: 100px;
}

.h150 {
  height: 150px;
}

.h200 {
  height: 200px;
}

.h250 {
  height: 250px;
}

.h300 {
  height: 300px;
}

.h400 {
  height: 400px;
}

.h500 {
  height: 500px;
}

.h800 {
  height: 800px;
}

.p0 {
  padding: 0 !important;
}

.p1 {
  padding: 1px !important;
}

.p2 {
  padding: 2px !important;
}

.p5 {
  padding: 5px !important;
}

.p10 {
  padding: 10px !important;
}

.p15 {
  padding: 15px !important;
}

.p20 {
  padding: 20px !important;
}

.p30 {
  padding: 30px !important;
}

.p50 {
  padding: 50px !important;
}

.pl0 {
  padding-left: 0 !important;
}

.pl1 {
  padding-left: 1px !important;
}

.pl2 {
  padding-left: 2px !important;
}

.pl5 {
  padding-left: 5px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pl15 {
  padding-left: 15px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.pl30 {
  padding-left: 30px !important;
}

.pr0 {
  padding-right: 0 !important;
}

.pr1 {
  padding-right: 1px !important;
}

.pr2 {
  padding-right: 2px !important;
}

.pr5 {
  padding-right: 5px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.ph0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ph1 {
  padding-left: 1px !important;
  padding-right: 1px !important;
}

.ph2 {
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.ph5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.ph10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.ph15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.ph20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.ph25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.ph30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.ph50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.pt0 {
  padding-top: 0 !important;
}

.pt1 {
  padding-top: 1px !important;
}

.pt2 {
  padding-top: 2px !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.pb1 {
  padding-bottom: 1px !important;
}

.pb2 {
  padding-bottom: 2px !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

.pv0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.pv1 {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}

.pv2 {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.pv5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.pv10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.pv15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.pv20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.pv25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.pv30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.m0 {
  margin: 0 !important;
}

.m1 {
  margin: 1px !important;
}

.m2 {
  margin: 2px !important;
}

.m5 {
  margin: 5px !important;
}

.m10 {
  margin: 10px !important;
}

.m15 {
  margin: 15px !important;
}

.m20 {
  margin: 20px !important;
}

.m30 {
  margin: 30px !important;
}

.m40 {
  margin: 40px !important;
}

.m50 {
  margin: 50px !important;
}

.ml-30 {
  margin-left: -30px !important;
}

.ml-25 {
  margin-left: -25px !important;
}

.ml-20 {
  margin-left: -20px !important;
}

.ml-15 {
  margin-left: -15px !important;
}

.ml-10 {
  margin-left: -10px !important;
}

.ml-5 {
  margin-left: -5px !important;
}

.ml-2 {
  margin-left: -2px !important;
}

.ml-1 {
  margin-left: -1px !important;
}

.ml0 {
  margin-left: 0 !important;
}

.ml1 {
  margin-left: 1px !important;
}

.ml2 {
  margin-left: 2px !important;
}

.ml5 {
  margin-left: 5px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.ml100 {
  margin-left: 100px !important;
}

.mr-30 {
  margin-right: -30px !important;
}

.mr-25 {
  margin-right: -25px !important;
}

.mr-20 {
  margin-right: -20px !important;
}

.mr-15 {
  margin-right: -15px !important;
}

.mr-10 {
  margin-right: -10px !important;
}

.mr-5 {
  margin-right: -5px !important;
}

.mr-2 {
  margin-right: -2px !important;
}

.mr-1 {
  margin-right: -1px !important;
}

.mr0 {
  margin-right: 0 !important;
}

.mr1 {
  margin-right: 1px !important;
}

.mr2 {
  margin-right: 2px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mh2 {
  margin-left: 2px !important;
  margin-right: 2px !important;
}

.mh5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.mh10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.mh15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.mh20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.mh25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.mh30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.mt-30 {
  margin-top: -30px !important;
}

.mt-25 {
  margin-top: -25px !important;
}

.mt-20 {
  margin-top: -20px !important;
}

.mt-15 {
  margin-top: -15px !important;
}

.mt-10 {
  margin-top: -10px !important;
}

.mt-5 {
  margin-top: -5px !important;
}

.mt-2 {
  margin-top: -2px !important;
}

.mt-1 {
  margin-top: -1px !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mt1 {
  margin-top: 1px !important;
}

.mt2 {
  margin-top: 2px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mb-30 {
  margin-bottom: -30px !important;
}

.mb-25 {
  margin-bottom: -25px !important;
}

.mb-20 {
  margin-bottom: -20px !important;
}

.mb-15 {
  margin-bottom: -15px !important;
}

.mb-10 {
  margin-bottom: -10px !important;
}

.mb-5 {
  margin-bottom: -5px !important;
}

.mb-2 {
  margin-bottom: -2px !important;
}

.mb-1 {
  margin-bottom: -1px !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb1 {
  margin-bottom: 1px !important;
}

.mb2 {
  margin-bottom: 2px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mv0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mv1 {
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}

.mv2 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.mv5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.mv10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.mv15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.mv20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.mv25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.mv30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.rad5 {
  border-radius: 5px;
}

.rad10 {
  border-radius: 10px;
}

.rad15 {
  border-radius: 15px;
}

.rad20 {
  border-radius: 20px;
}

.rad30 {
  border-radius: 30px;
}

.rad50 {
  border-radius: 50px;
}

.rad100 {
  border-radius: 100px;
}

.zoom1 {
  zoom: 1;
}

.zoom12 {
  zoom: 1.2;
}

.zoom15 {
  zoom: 1.5;
}

.zoom18 {
  zoom: 1.8;
}

.zoom2 {
  zoom: 2;
}

.zoom25 {
  zoom: 2.5;
}

